



  
html,body {
    padding: 0px;
    padding-top: 40px;
    color: white;
    margin: 0px;
    font-size: 12px;
    background-size: cover;
    margin-bottom: 0;
    background-repeat: no-repeat;
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
    
    
    
    
}
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

/*---------------------------- nav ----------------------------*/
nav {
    
    border-bottom: 2px solid white;
    display: flex;
    padding: 30px 0 ;
    align-items: center;
    justify-content: center;
    margin: -80px 0 0 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.616);
    width: 100%;
    z-index: 9999;
    
}
h1{
    display: none;
    margin: 0;
    
}
.ul_pestanias {
    display: flex;
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: none;
}




nav li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px 0 20px;
}




.checkbtn{
    position: relative;
    float: left;
    font-size: 20px;
    color: white;
    position: absolute;
    left: 0;
    padding: 25px;
    cursor: pointer;
    display: none;
    
}


.checkbtn i {
    margin-right: 5px;
}
#check{
    display: none;
}
/*----------------------- fin del nav ----------------------------*/

/*----------------------- main ----------------------------*/

main{
    z-index: -2;
    margin-top: 100px;
    margin-bottom: 50px;
}
.fakenew {
    height: 160px;
    width: 160px;
}

.article_1 {
    width: 550px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgba(0, 0, 0, 0.616);
    margin: auto;
    backdrop-filter: blur(5px);
    align-items: center;
}

.article_1 p {
    margin-left: 30px;
}

.article_1 p span {
    font-size: 20px;
    margin-bottom: 10px;
}

.article_1 img {
    margin-left: 120px;
}

.title {
    padding: 50px;
    margin: 10px;
    text-align: center;
}

.conteiner_objetivo {
    width: 550px;
    background: rgba(0, 0, 0, 0.616);
    margin: 30px auto;
    backdrop-filter: blur(5px);
    align-items: center;
}

.objetivo {
    padding: 50px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
}

.span2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.conteiner_datos{
    width: 550px;
    background: rgba(0, 0, 0, 0.616);
    margin: 30px auto;
    backdrop-filter: blur(5px);
    align-items: center;
    margin-bottom: 150px;
}
.datos {
    padding: 50px 0 0 10px;
    margin: 10px;
    font-size: 16px;
}

.conteiner_datos ul li{
    margin: 10px;
}
.conteiner_datos ul {
    margin: 10px 30px 0px 0px;
}

footer {
    position: relative;
    z-index: 1;
  }
footer {
    margin-top: 100px;
  }


@media (max-width: 550px) {
    .fakenew {
        height: 160px;
        width: 160px;
    }

    .article_1 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .article_1 p {
        margin-left: 30px;
    }

    .article_1 p span {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .article_1 img {
        margin-left: 0;
        width: 100%;
        height: 160px;
        object-fit: cover;
    }

    .title {
        padding: 50px;
        margin: 10px;
        text-align: center;
    }
    .conteiner_objetivo {
        width: 100%;
        max-width: 400px;
    }

    .objetivo {
        padding: 30px;
        font-size: 14px;
    }
}











/*------------------------- Footer -------------------------------*/


footer {
    background: rgba(0, 0, 0, 0.616);
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 
 
  
  
  
  .center{
    flex-grow: 1;
    text-align: center;
    color: white;
    margin-left: 50px;
  }
  

  .contacto {
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
  }
  
  .logo {
    width: 100px;
    height: 60px;
    font-size: 13px;
    margin-right: 15px;
  }



/*------------------------- fin del footer ----------------------------*/

@media (max-width: 768px) {
    .conteiner_datos {
      width: 100%;
      padding: 20px;
    }
    
    .datos {
      padding: 30px 0 0 0;
      font-size: 14px;
    }
    
    
  }

@media (max-width: 850px){
    /*------------------------- nav ---------------------------------------*/
    nav{
        justify-content: center;
        
    }
    h1{
        display: block;
        color: white;
    }


    .ul_pestanias{
        position: fixed;
        width: 100%;
        background: rgba(0, 0, 0, 0.616);
        left: -100%;
        text-align: center;
        transition: all .5s;
        display: inline-block;
        margin: 0;
        margin-top: 5px;
        backdrop-filter: blur(5px);
        height: 100%;
          
    }
    .ul_pestanias li{
        
        margin: 50px 0;
        line-height: 30px;
        
    }
    .ul_pestanias{
        top:  85px;
        
    }
   
    .ul_pestanias li a{
        font-size: 20px;
    }
    

    .checkbtn{
        display: block;
    }

    
   

    #check:checked ~ .ul_pestanias{
        left: 0;
        
    }
    /*------------------------- fin del nav ----------------------------*/
    /*------------------------- Footer ---------------------------------*/
    .footer-container {
        flex-direction: column;
      }
      
      .footer-left,
      .footer-right {
        flex: 1 0 100%;
        text-align: center;
        margin-bottom: 10px;
      }
      
      .footer-right img {
        margin-top: 10px;
      }
    /*------------------------- fin del footer ----------------------------*/
}



@media (max-width: 450px){
     /*------------------------- nav --------------------------------------*/
    h1{
        font-size: 15px;
        
    }
    .ul_pestanias{
        top: 79px;
        
    }
    .ul_pestanias li a {
        font-size: 15px;
    }
     /*------------------------- fin del nav ----------------------------*/
   
}

@media (max-width: 350px){
     /*-------------------------  nav ----------------------------------*/
    h1{
        font-size: 10px;
        
    }
    .ul_pestanias{
        top: 85px;
       
    }
    .ul_pestanias li a {
        font-size: 12px;
    }
     /*------------------------- fin del nav ----------------------------*/
}

@media (max-width: 400px){
    footer{
        display: block;
    }
    .center{
        
        margin-left: 0;
    }
    .contacto{
        margin: 0;
    }
    .logo{
        margin: 0;
    }
}


@media (max-width: 280px){
     /*------------------------- nav ------------------------------------*/
    h1{
        display: none;
        
    }
    .ul_pestanias{
        top: 60px;
       
    }
     /*------------------------- fin del nav ----------------------------*/
    
}

@keyframes glowing {
    0% { box-shadow: 0 0 5px #fff; }
    50% { box-shadow: 0 0 20px #00e6e6; }
    100% { box-shadow: 0 0 5px #fff; }
  }